/*

GENERAL

*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

img{
    display: block;
    max-width: 100%;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}

button{
    border: none;
    padding: 0.5rem;
    border-radius: 15% / 50%;
}