:root{
 --first-color: #0084FD;
 --second-color: #B5DDFF;
 --third-color: #9792E4;
 --fourth-color: #F2BB6B;
 --fifth-color: #333333;
}


/*

header

*/

.column-header:last-of-type{
    display: none;
}

/*

main

*/

.container{
    max-width: 90%;
    margin: auto;
}

/*

footer

*/

/*

debug

*/

header{
    background-color: var(--first-color);
    margin: auto;
}

main{
    background-color: white;
    margin: auto;
}

.flex-header{
    margin-bottom: 1rem;
}

.column-header{
    border: 1px dashed black;
    width: 50%;
}

.flex-1{
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ricorda di correggere il margin-bottom per tablet e desktop se necessario */

.column-1{
    background-color: var(--second-color);
    border-radius: 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.column-1>img{
    width: 80%;
    margin: auto;
}

.flex-2{
    flex-wrap: wrap;
    justify-content: space-between;
}
.column-2{
    width: 100%;
}





/*

MEDIA QUERY

*/

/*

TABLET

*/

@media screen and (min-width: 768px) {
    .column-1{ width: 30%;}
    .column-1:first-of-type{ width: 65%;}
    .column-2>img{width: 50%;}
}

/*

DESKTOP

*/

@media screen and (min-width: 992px) {
    .column-header:nth-of-type(2){display: none;}
    .column-header:last-of-type{display: block;}
    .column-2{width: 50%;}
    .column-2>img{width: 100%;}
}

